.container {
  width: 100%;
  background-color: var(--dark1);
  padding: var(--BPad) 0;
  color: var(--light1);
  .heading{
    padding: var(--MPad) var(--BPad);
    h1{
      text-transform: capitalize;
      letter-spacing: -0.02em;
      font-size: 7rem;
      font-weight: bolder;
      line-height: 1;
      font-family: var(--mainFont);
      span{
        color: var(--colorMain);
      }
    }

    .btnText{
      width: fit-content;
      padding: 5px 20px;
      border-radius: 100px;
      border: 1px solid var(--gray-700);
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 3rem;
    .Degree {
      width: 80%;
      border-top: 1px dashed var(--dark3);
      border-bottom: 1px dashed var(--dark3);
      padding: var(--SPad) 0;
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 0.5fr;
      grid-template-rows: 0.5fr 1.5fr 0.5fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "year title inst"
        "year title inst"
        "year desc inst";

      .year {
        grid-area: year;
        color: var(--colorMain);
        opacity: .7;
        font-size: 0.9rem;
      }

      .title {
        grid-area: title;
        font-size: 3rem;
        line-height: 100%;
        font-family: var(--mainFont);
      }

      .desc {
        grid-area: desc;
      }

      .inst {
        grid-area: inst;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        
        span{
          color: var(--gray-700);
          font-size: 0.9rem;
        }
      }
    }
  }
}
