.blob {
  position: absolute;
  bottom: -350px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 700px;
  height: 700px;
  animation: blob 1s ease;
}

@keyframes blob {
  0%{
      opacity: 0;
    }
    
    100%{
    opacity: 0;
  }
}